<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Home Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Mark Kuphals Website</h1>
        <nav>
            <button id="homeBtn" class="nav-btn active">Home</button>
            <button id="aboutBtn" class="nav-btn">About Me</button>
        </nav>
    </header>
    <main>
        <section id="homeSection" class="content-section">
            <img src="../static/img/mark_close.jpg" alt="home">
            <p>
                Welcome to [Your Website Name]! I’m excited to help you kickstart your fitness journey with a free, personalized workout plan tailored just for you. Simply answer a few questions about your fitness goals and preferences, and I'll craft a plan that sets you on the path to wellness.
            </p>
            <p>
                Loved the results from your free plan and ready to take your fitness to the next level? Explore my premium memberships for more dedicated time with me and access to exclusive features. Let's continue this journey together and unlock your full potential!
            </p> 
            <p>  
                Join me today and transform the way you look, feel, and live.
            </p>
            <a href="/quiz" class="button">Take Quiz</a>
        </section>
        <section id="aboutSection" class="content-section" style="display:none;">
            <h2>Hello!👋 I’m Mark Kuphal💪🏋🏼‍♂️</h2>
            <img src="../static/img/mark_front.jpeg" alt="Centered Image" class="centered-image">
            <p>
                <img src="../static/img/mark_lifting.jpg" alt="Left Image" class="left-image">
                I’m thrilled you’ve stopped by my page. As a passionate personal trainer, my primary joy comes from helping others discover the power of a healthy lifestyle and achieve their fitness goals.🫵 My journey to wellness hasn’t always been straightforward. Like many, I’ve faced my fair share of challenges and obstacles along the way. But these experiences taught me that perseverance and hard work truly pay off.
            </p>
            <p>
                From a young age, I’ve been dedicated to maintaining my health and fitness. This commitment wasn't just about hitting personal bests or mastering new workout routines; it was about building a foundation of wellness that could support every aspect of my life. Now, I'm eager to pass on the valuable lessons I've learned about nutrition, exercise, and mental resilience.🤝
            </p>
            <p>
                <img src="../static/img/mark_back.jpg" alt="Right Image" class="right-image">
                Whether you're starting your fitness journey, looking to elevate your routine, or needing motivation to continue, I'm here to guide and support you.👏 Together, we’ll tailor a plan that fits your lifestyle, respects your limits, and celebrates your victories, big and small. Let’s embark on this exciting path to better health, achieving not just your fitness goals, but a sustained and joyful way of living.🤙
            </p>
            <p>
                Links to my certifications: TBD
            </p>
        </section>
    </main>
    <script src="../static/js/script.js"></script>
</body>
</html>
