<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="../static/css/quiz-style.css">
</head>
<body>
    <div id="quiz-container">
            <h2 id="question"></h2>
            <ul id="answer-buttons" class="btn-grid"></ul>
        <div id="button-container">
            <button id="back-button">Back</button> 
            <button id="next-button">Next</button>
        </div>
            <form id="emailForm" style="display: none;">
                <input type="email" id="emailInput" placeholder="Enter your email here" required>
                <button type="submit">Submit</button>
            </form>
    </div>
    <script src="../static/js/quiz-script.js"></script>
</body>
</html>
